In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\пользователь\appdata\local\programs\python\python311\lib\site-packages (2.1.2)

[notice] A new release of pip available: 22.3 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### Opening data

In [3]:
data = pd.read_csv("epl-games_p.csv")

In [4]:
print(data.head())

  div  season        date      team_home  team_away  points_home  points_away  \
0  E0    2008  2008-08-16        Everton  Blackburn          0.0          3.0
1  E0    2008  2008-08-16           Hull     Fulham          3.0          0.0
2  E0    2008  2008-08-16     Sunderland  Liverpool          0.0          3.0
3  E0    2008  2008-08-16         Bolton      Stoke          3.0          0.0
4  E0    2008  2008-08-16  Middlesbrough  Tottenham          3.0          0.0

   goals_home  goals_away  hometeam_uid  awayteam_uid
0         2.0         3.0            13             4
1         2.0         1.0            16            14
2         0.0         1.0            29            18
3         3.0         1.0             6            28
4         2.0         1.0            21            31

In [5]:
print(data)

     div  season        date      team_home     team_away  points_home  \
0     E0    2008  2008-08-16        Everton     Blackburn          0.0
1     E0    2008  2008-08-16           Hull        Fulham          3.0
2     E0    2008  2008-08-16     Sunderland     Liverpool          0.0
3     E0    2008  2008-08-16         Bolton         Stoke          3.0
4     E0    2008  2008-08-16  Middlesbrough     Tottenham          3.0
...   ..     ...         ...            ...           ...          ...
4175  E0    2018  2019-05-12    Southampton  Huddersfield          1.0
4176  E0    2018  2019-05-12       Brighton      Man City          0.0
4177  E0    2018  2019-05-12         Fulham     Newcastle          0.0
4178  E0    2018  2019-05-12        Watford      West Ham          0.0
4179  E0    2018  2019-05-12      Liverpool        Wolves          3.0

      points_away  goals_home  goals_away  hometeam_uid  awayteam_uid
0             3.0         2.0         3.0            13             4
1             0.0         2.0         1.0            16            14
2             3.0         0.0         1.0            29            18
3             0.0         3.0         1.0             6            28
4             0.0         2.0         1.0            21            31
...           ...         ...         ...           ...           ...
4175          1.0         1.0         1.0            27            15
4176          3.0         1.0         4.0             8            19
4177          3.0         0.0         4.0            14            22
4178          3.0         1.0         4.0            32            34
4179          0.0         2.0         0.0            18            36

[4180 rows x 11 columns]

### Data Exploration and Modification

In [6]:
print(data.dtypes)

div              object
season            int64
date             object
team_home        object
team_away        object
points_home     float64
points_away     float64
goals_home      float64
goals_away      float64
hometeam_uid      int64
awayteam_uid      int64
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180 entries, 0 to 4179
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   div           4180 non-null   object
 1   season        4180 non-null   int64
 2   date          4180 non-null   object
 3   team_home     4180 non-null   object
 4   team_away     4180 non-null   object
 5   points_home   4180 non-null   float64
 6   points_away   4180 non-null   float64
 7   goals_home    4180 non-null   float64
 8   goals_away    4180 non-null   float64
 9   hometeam_uid  4180 non-null   int64
 10  awayteam_uid  4180 non-null   int64
 11  months        4180 non-null   object
dtypes: float64(4), int64(3), object(5)
memory usage: 392.0+ KB

In [8]:
data['months'] = data["date"].str.split("-").str[1]

In [14]:
print(data['months'])

0       8
1       8
2       8
3       8
4       8
       ..
4175    5
4176    5
4177    5
4178    5
4179    5
Name: months, Length: 4180, dtype: int64

In [13]:
data['months'] = pd.to_numeric(data['months'], errors='coerce')

In [71]:
a = data.groupby(['team_home', 'season'])['points_home'].sum()

In [78]:
a_2008 = a.loc[(slice(None), [2008])]

In [135]:
total_number_of_teams = data['team_home'].nunique()
total_number_of_teams

36

In [95]:
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#    print(a_2008)

In [56]:
data.loc[[0, 1]]

,div,season,date,team_home,team_away,points_home,points_away,goals_home,goals_away,hometeam_uid,awayteam_uid,months
0,E0,2008,2008-08-16,Everton,Blackburn,0.0,3.0,2.0,3.0,13,4,8
1,E0,2008,2008-08-16,Hull,Fulham,3.0,0.0,2.0,1.0,16,14,8

In [59]:
data.shape

(4180, 12)

### Creating some lists and dictionaries

In [103]:
list_of_teams = data["team_home"].unique().tolist()
list_of_teams[0:1]

['Everton']

In [108]:
teams_with_a = [n for n in list_of_teams if 'A' in n or 'b' in n]
teams_with_a

['Middlesbrough', 'Arsenal', 'Aston Villa', 'Blackburn']

In [161]:
team_points_dictonary = {
    n: data.loc[data['team_home'] == n, 'points_home'].sum() 
    for n in list_of_teams
}

In [162]:
team_points_dictonary["Arsenal"]

np.float64(462.0)

In [171]:
import random
number = 3
if number > total_number_of_teams:
    print('There are less teams in championship')
else:
    keys = random.sample(list(team_points_dictonary.keys()), number)
    print(keys)

['Man United', 'Burnley', 'QPR']

In [172]:
random_teams = {a: team_points_dictonary[a] for a in keys}
print(random_teams)

{'Man United': np.float64(481.0), 'Burnley': np.float64(127.0), 'QPR': np.float64(63.0)}

In [177]:
#Let's convert this dictionary into two separated lists
list1 = list(random_teams.values())
list1

[np.float64(481.0), np.float64(127.0), np.float64(63.0)]

In [183]:
list1 = [float(i) for i in list1]
print(list1)

[481.0, 127.0, 63.0]

In [175]:
list2 = list(random_teams.keys())
list2

['Man United', 'Burnley', 'QPR']

### Additional example "for" loop

In [184]:
years = data['season'].unique().tolist()[0:1]

In [185]:
years

[2008]

In [186]:
for i in years:
    data.groupby(['team_home', 'season'])['points_home'].sum()
    a_i = a.loc[(slice(None), [i])]
    print(a_i)

team_home      season
Arsenal        2008      38.0
Aston Villa    2008      30.0
Blackburn      2008      25.0
Bolton         2008      26.0
Chelsea        2008      39.0
Everton        2008      30.0
Fulham         2008      36.0
Hull           2008      14.0
Liverpool      2008      43.0
Man City       2008      39.0
Man United     2008      50.0
Middlesbrough  2008      24.0
Newcastle      2008      22.0
Portsmouth     2008      27.0
Stoke          2008      35.0
Sunderland     2008      21.0
Tottenham      2008      35.0
West Brom      2008      24.0
West Ham       2008      29.0
Wigan          2008      29.0
Name: points_home, dtype: float64